---
import Layout from '../layouts/Layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Spotify Clone">
	<div
	id="playlist-container"
	class="relative transition-all duration-1000 bg-green-600">
    <-!-- <PageHeader /> ---> 
	<div class="relative z-10 px-6">
		<-!-- <Greetings /> ---> 
	
	</div>
	</div>
</Layout>
<style></style>